@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'League Gothic', sans-serif;
    font-family: 'Roboto', sans-serif;
    
    background-image: url(https://images.unsplash.com/photo-1483921020237-2ff51e8e4b22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-image: cover;
    background-position: center center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    height: 100%;
    background-size: cover;
}
nav{
    display: flex;
    position: fixed;
    background: #1b9bff;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    z-index: 200;

    
}
label.logo{
    color: white;
    margin-top: 1rem;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
.hamburger{
    display: none;
    
}
.bar{
    display: block;
    width: 15px;
    height: 3px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.timer-container{
    display: flex;
}
h1{
    font-weight: normal;
    font-size: 4rem;

}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-el{
    text-align: center;

}
.countdown-el span{
    font-size: 1.5rem;
    font-weight: bold;
}
@media (max-width: 600px) {
    .countdown-el span{
        font-size: 2rem;
    }
    .big-text{
        font-weight: bold;
        font-size: 3rem;
        line-height: 1;
        margin: 0 1.5rem;
    }
    .hamburger-menu{
        cursor: pointer;
    }
    .hamburger{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: space-between;
    z-index: 200;
    
        
    }
    
    .hamburger2{
    display: flex;
    position: fixed;
    top: 10px;
    right: 0;
    justify-content: space-between;
    z-index: 200;
   
        
    }
    .hamburger3{
    display: flex;
    position: fixed;
    top: 20px;
    right: 0;
    justify-content: space-between;
    z-index: 200;
    
        
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar.active{
        
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #1b9bff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        
    }
        nav.disabled{
        display: none;
    }nav ul li{
        display: inline-block;
        line-height: 60px;
        margin: 0 -20px;
    }
    
    
}


